<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="js">
    <script th:src="@{/assets/js/lib/jquery.min.js}"></script>
    <!-- jquery vendor -->
    <script th:src="@{/assets/js/lib/jquery.nanoscroller.min.js}"></script>
    <!-- nano scroller -->
    <script th:src="@{/assets/js/lib/menubar/sidebar.js}"></script>
    <script th:src="@{/assets/js/lib/preloader/pace.min.js}"></script>
    <!-- sidebar -->
    <script th:src="@{/assets/js/lib/bootstrap.min.js}"></script>
    <!-- bootstrap -->
    <script th:src="@{/assets/js/lib/weather/jquery.simpleWeather.min.js}"></script>
    <script th:src="@{/assets/js/lib/weather/weather-init.js}"></script>
    <script th:src="@{/assets/js/lib/circle-progress/circle-progress.min.js}"></script>
    <script th:src="@{/assets/js/lib/circle-progress/circle-progress-init.js}"></script>
    <script th:src="@{/assets/js/lib/chartist/chartist.min.js}"></script>
    <script th:src="@{/assets/js/lib/chartist/chartist-init.js}"></script>
    <script th:src="@{/assets/js/lib/sparklinechart/jquery.sparkline.min.js}"></script>
    <script th:src="@{/assets/js/lib/sparklinechart/sparkline.init.js}"></script>
    <script th:src="@{/assets/js/lib/owl-carousel/owl.carousel.min.js}"></script>
    <script th:src="@{/assets/js/lib/owl-carousel/owl.carousel-init.js}"></script>
    <script th:src="@{/assets/js/scripts.js}"></script>
</div>
</body>
</html>