<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:include="commons/meta :: metaHead(title='老人管理系统 | 主页')">
    </head>
<body>

<!-- Begin page -->
<div id="wrapper">

    <!--    头部-->
    <div th:replace="commons/header :: header"></div>
    <!--    左侧菜单-->
    <div th:replace="commons/left :: left"></div>
    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="content-page">
        <!-- Start content -->
        <div class="content">
            <div class="container-fluid">
                <div class="page-title-box">
                    <div class="row align-items-center">
                        <div class="col-sm-6">
                            <h4 class="page-title">首页</h4>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-right">
                                <li class="breadcrumb-item"><a href="javascript:void(0);">养老管理系统</a></li>
                                <li class="breadcrumb-item active">首页</li>
                            </ol>
                        </div>
                    </div>
                    <!-- end row -->
                </div>
                <!-- end page-title -->

                <div class="row">

                    <div class="col-sm-6 col-xl-3">
                        <div class="card">
                            <div class="card-heading p-4">
                                <div class="mini-stat-icon float-right">
                                    <i class="fas fa-user-check fa-1g bg-primary  text-white"></i>
                                </div>
                                <div>
                                    <h5 class="font-16">老人总数(老人类型、年龄、护理级别)</h5>
                                </div>
                                <h3 class="mt-4">1236人</h3>
<!--                                <div class="progress mt-4" style="height: 4px;">-->
<!--                                    <div class="progress-bar bg-primary" role="progressbar" style="width: 75%"-->
<!--                                         aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>-->
<!--                                </div>-->
<!--                                <p class="text-muted mt-2 mb-0">Previous period<span class="float-right">75%</span></p>-->
                            </div>
                        </div>
                    </div>



                    <div class="col-sm-6 col-xl-3">
                        <div class="card">
                            <div class="card-heading p-4">
                                <div class="mini-stat-icon float-right">
                                    <i class="fas fa-user-plus fa-1g  bg-success text-white"></i>
                                </div>
                                <div>
                                    <h5 class="font-16">今日入住人数(最近一月的入住情况)</h5>
                                </div>
                                <h3 class="mt-4">86人</h3>
<!--                                <div class="progress mt-4" style="height: 4px;">-->
<!--                                    <div class="progress-bar bg-warning" role="progressbar" style="width: 68%"-->
<!--                                         aria-valuenow="68" aria-valuemin="0" aria-valuemax="100"></div>-->
<!--                                </div>-->
<!--                                <p class="text-muted mt-2 mb-0">Previous period<span class="float-right">68%</span></p>-->
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-xl-3">
                        <div class="card">
                            <div class="card-heading p-4">
                                <div class="mini-stat-icon float-right">
                                    <i class="fas fa-user-minus fa-1g bg-danger text-white"></i>
                                </div>
                                <div>
                                    <h5 class="font-16">今日退出(最近一月的退出情况)</h5>
                                </div>
                                <h3 class="mt-4">15人</h3>
                                <!--                                <div class="progress mt-4" style="height: 4px;">-->
                                <!--                                    <div class="progress-bar bg-success" role="progressbar" style="width: 88%"-->
                                <!--                                         aria-valuenow="88" aria-valuemin="0" aria-valuemax="100"></div>-->
                                <!--                                </div>-->
                                <!--                                <p class="text-muted mt-2 mb-0">Previous period<span class="float-right">88%</span></p>-->
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-xl-3">
                        <div class="card">
                            <div class="card-heading p-4">
                                <div class="mini-stat-icon float-right">
                                    <i class="far fa-handshake fa-lg bg-warning text-white "></i>
                                </div>
                                <div>
                                    <h5 class="font-16">今日拜访(最近一月的退出情况)</h5>
                                </div>
                                <h3 class="mt-4">125人</h3>
<!--                                <div class="progress mt-4" style="height: 4px;">-->
<!--                                    <div class="progress-bar bg-danger" role="progressbar" style="width: 82%"-->
<!--                                         aria-valuenow="82" aria-valuemin="0" aria-valuemax="100"></div>-->
<!--                                </div>-->
<!--                                <p class="text-muted mt-2 mb-0">Previous period<span class="float-right">82%</span></p>-->
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row">

                    <div class="col-sm-6 col-xl-3">
                        <div class="card">
                            <div class="card-heading p-4">
                                <div class="mini-stat-icon float-right">
                                    <i class="mdi mdi-cube-outline bg-primary  text-white"></i>
                                </div>
                                <div>
                                    <h5 class="font-16">空闲床位数</h5>
                                </div>
                                <h3 class="mt-4">292张</h3>
                                <!--                                <div class="progress mt-4" style="height: 4px;">-->
                                <!--                                    <div class="progress-bar bg-primary" role="progressbar" style="width: 75%"-->
                                <!--                                         aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>-->
                                <!--                                </div>-->
                                <!--                                <p class="text-muted mt-2 mb-0">Previous period<span class="float-right">75%</span></p>-->
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-xl-3">
                        <div class="card">
                            <div class="card-heading p-4">
                                <div class="mini-stat-icon float-right">
                                    <i class="mdi mdi-briefcase-check bg-success text-white"></i>
                                </div>
                                <div>
                                    <h5 class="font-16">总收入</h5>
                                </div>
                                <h3 class="mt-4">￥173,265元</h3>
                                <!--                                <div class="progress mt-4" style="height: 4px;">-->
                                <!--                                    <div class="progress-bar bg-success" role="progressbar" style="width: 88%"-->
                                <!--                                         aria-valuenow="88" aria-valuemin="0" aria-valuemax="100"></div>-->
                                <!--                                </div>-->
                                <!--                                <p class="text-muted mt-2 mb-0">Previous period<span class="float-right">88%</span></p>-->
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-3">
                        <div class="card">
                            <div class="card-heading p-4">
                                <div class="mini-stat-icon float-right">
                                    <i class="mdi mdi-account-arrow-right-outline bg-danger text-white "></i>
                                </div>
                                <div>
                                    <h5 class="font-16">设备告警</h5>
                                </div>
                                <h3 class="mt-4">125次</h3>
                                <!--                                <div class="progress mt-4" style="height: 4px;">-->
                                <!--                                    <div class="progress-bar bg-danger" role="progressbar" style="width: 82%"-->
                                <!--                                         aria-valuenow="82" aria-valuemin="0" aria-valuemax="100"></div>-->
                                <!--                                </div>-->
                                <!--                                <p class="text-muted mt-2 mb-0">Previous period<span class="float-right">82%</span></p>-->
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-3">
                        <div class="card">
                            <div class="card-heading p-4">
                                <div class="mini-stat-icon float-right">
                                    <i class="mdi mdi-tag-text-outline bg-warning text-white"></i>
                                </div>
                                <div>
                                    <h5 class="font-16">采购支出</h5>
                                </div>
                                <h3 class="mt-4">￥86,239元</h3>
                                <!--                                <div class="progress mt-4" style="height: 4px;">-->
                                <!--                                    <div class="progress-bar bg-warning" role="progressbar" style="width: 68%"-->
                                <!--                                         aria-valuenow="68" aria-valuemin="0" aria-valuemax="100"></div>-->
                                <!--                                </div>-->
                                <!--                                <p class="text-muted mt-2 mb-0">Previous period<span class="float-right">68%</span></p>-->
                            </div>
                        </div>
                    </div>



                </div>

                <div class="row">
                    <div class="col-xl-8">
                        <div class="card m-b-30">
                            <div class="card-body">
                                <h4 class="mt-0 header-title mb-4">告警(人员告警、设备告警、健康告警)</h4>
                                <div id="morris-area-example" class="morris-charts morris-chart-height"></div>
                            </div>
                        </div>
                    </div>
                    <!-- end col -->

                    <div class="col-xl-4">
                        <div class="card m-b-30">
                            <div class="card-body">
                                <h4 class="mt-0 header-title mb-4">自理级别(完全自理、介助、介护、完全不能自理)</h4>

                                <div id="morris-donut-example" class="morris-charts morris-chart-height"></div>

                            </div>
                        </div>
                    </div>
                    <!-- end col -->
                </div>
                <!-- end row -->

                <div class="row">
                    <div class="col-xl-4">
                        <div class="card m-b-30">
                            <div class="card-body">
                                <h4 class="mt-0 header-title mb-4">用户评价</h4>
                                <div class="friends-suggestions">
                                    <a href="#" class="friends-suggestions-list">
                                        <div class="border-bottom position-relative">
                                            <div class="float-left mb-0 mr-3">
                                                <img src="assets/images/users/user-2.jpg" alt=""
                                                     class="rounded-circle thumb-md">
                                            </div>
                                            <div class="suggestion-icon float-right mt-2 pt-1">
                                                <i class="mdi mdi-plus"></i>
                                            </div>

                                            <div class="desc">
                                                <h5 class="font-14 mb-1 pt-2 text-dark">环境好，服务好</h5>
                                                <p class="text-muted">刚刚</p>
                                            </div>
                                        </div>
                                    </a>

                                    <a href="#" class="friends-suggestions-list">
                                        <div class="border-bottom position-relative">
                                            <div class="float-left mb-0 mr-3">
                                                <img src="assets/images/users/user-3.jpg" alt=""
                                                     class="rounded-circle thumb-md">
                                            </div>
                                            <div class="suggestion-icon float-right mt-2 pt-1">
                                                <i class="mdi mdi-plus"></i>
                                            </div>

                                            <div class="desc">
                                                <h5 class="font-14 mb-1 pt-2 text-dark">饭菜很可口</h5>
                                                <p class="text-muted">2020-02-01 10:20:48</p>
                                            </div>
                                        </div>
                                    </a>

                                    <a href="#" class="friends-suggestions-list">
                                        <div class="border-bottom position-relative">
                                            <div class="float-left mb-0 mr-3">
                                                <img src="assets/images/users/user-4.jpg" alt=""
                                                     class="rounded-circle thumb-md">
                                            </div>
                                            <div class="suggestion-icon float-right mt-2 pt-1">
                                                <i class="mdi mdi-plus"></i>
                                            </div>

                                            <div class="desc">
                                                <h5 class="font-14 mb-1 pt-2 text-dark">卫生很干净</h5>
                                                <p class="text-muted">2019-08-01 17:45:12</p>
                                            </div>
                                        </div>
                                    </a>

                                    <a href="#" class="friends-suggestions-list">
                                        <div class="border-bottom position-relative">
                                            <div class="float-left mb-0 mr-3">
                                                <img src="assets/images/users/user-5.jpg" alt=""
                                                     class="rounded-circle thumb-md">
                                            </div>
                                            <div class="suggestion-icon float-right mt-2 pt-1">
                                                <i class="mdi mdi-plus"></i>
                                            </div>

                                            <div class="desc">
                                                <h5 class="font-14 mb-1 pt-2 text-dark">工作人员很和蔼</h5>
                                                <p class="text-muted">2019-05-01 20:34:12</p>
                                            </div>
                                        </div>
                                    </a>

                                    <a href="#" class="friends-suggestions-list">
                                        <div class="position-relative">
                                            <div class="float-left mb-0 mr-3">
                                                <img src="assets/images/users/user-6.jpg" alt=""
                                                     class="rounded-circle thumb-md">
                                            </div>
                                            <div class="suggestion-icon float-right mt-2 pt-1">
                                                <i class="mdi mdi-plus"></i>
                                            </div>

                                            <div class="desc">
                                                <h5 class="font-14 mb-1 pt-2 text-dark">服务很贴心</h5>
                                                <p class="text-muted mb-1">2019-01-18 17:29:36</p>
                                            </div>
                                        </div>
                                    </a>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-4">
                        <div class="card m-b-30">
                            <div class="card-body">
                                <h4 class="mt-0 header-title mb-4">营收分析</h4>
                                <div id="morris-line-example" class="morris-chart" style="height: 360px"></div>

                            </div>
                        </div>

                    </div>

                    <div class="col-xl-4">
                        <div class="card m-b-30">
                            <div class="card-body">

                                <h4 class="mt-0 header-title mb-4">公告</h4>
                                <ol class="activity-feed mb-0">
                                    <li class="feed-item">
                                        <div class="feed-item-list">
                                            <p class="text-muted mb-1">刚刚</p>
                                            <p class="font-15 mt-0 mb-0"> 接电力局通知，今晚20:00  - 00:00 停电维修，请做好人工发电准备<b class="text-primary">详情请登录电力网</b></p>
                                        </div>
                                    </li>
                                    <li class="feed-item">
                                        <p class="text-muted mb-1">2020-04-12</p>
                                        <p class="font-15 mt-0 mb-0">武汉解封、2020-04-12日起，汽车、火车部分运力回复
                                            Commented <b class="text-primary"> 查看更多</b></p>
                                    </li>
                                    <li class="feed-item">
                                        <p class="text-muted mb-1">2020-01-02</p>
                                        <p class="font-15 mt-0 mb-0">武汉新冠病毒爆发，请各单位做好消毒、防护工作 <b
                                                class="text-primary">查看更多</b></p>
                                    </li>
                                    <li class="feed-item pb-1">
                                        <p class="text-muted mb-1">2018-05-01</p>
                                        <p class="font-15 mt-0 mb-2">健康管理系统正式上线 <b
                                                class="text-primary">查看更多</b></p>
                                    </li>

                                </ol>

                            </div>
                        </div>
                    </div>
                </div>

                <!-- START ROW -->
                <div class="row">
                    <div class="col-xl-12">
                        <div class="card m-b-30">
                            <div class="card-body">
                                <h4 class="mt-0 header-title mb-4">最近交易</h4>
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                        <tr>
                                            <th scope="col">姓名</th>
                                            <th scope="col">状态</th>
                                            <th scope="col">金额</th>
                                            <th scope="col" colspan="2">日期</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>张霞</td>
                                            <td><span class="badge badge-success">已入住</span></td>
                                            <td>￥29,000</td>
                                            <td>2020-06-01</td>
                                        </tr>
                                        <tr>
                                            <td>刘海天</td>
                                            <td><span class="badge badge-success">已入住</span></td>
                                            <td>￥12,000</td>
                                            <td>2020-05-12</td>
                                        </tr>
                                        <tr>
                                            <td>林根生</td>
                                            <td><span class="badge badge-success">已入住</span></td>
                                            <td>￥4,000</td>
                                            <td>2020-05-06</td>
                                        </tr>
                                        <tr>
                                            <td>李小花</td>
                                            <td><span class="badge badge-success">已入住</span></td>
                                            <td>￥6,200</td>
                                            <td>2020-05-02</td>
                                        </tr>
                                        <tr>
                                            <td>田秀</td>
                                            <td><span class="badge badge-success">已入住</span></td>
                                            <td>￥2,000</td>
                                            <td>2020-04-30</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
                <!-- END ROW -->

            </div>
            <!-- container-fluid -->

        </div>
        <!-- content -->
        <footer th:replace="commons/footer :: footer"></footer>

    </div>
    <!-- ============================================================== -->
    <!-- End Right content here -->
    <!-- ============================================================== -->

</div>
<!-- END wrapper -->
<div th:replace="commons/js :: js"></div>
</body>
</html>